
    <nav class="navbar navbar-fixed-top" style="background: #2980b9; box-shadow: 0px 4.33px 0px 0px rgba(41, 128, 185, 0.5);">
      <div class="container">
        <div class="navbar-header" style="margin-top:5px">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
<!--           <span class="navbar-brand ssms-shadow" style=""></span> -->
                    <%= link_to '', root_url, :class=>"navbar-brand ssms-shadow" %>
        </div>
        <div id="navbar" class="collapse navbar-collapse  pull-right">
          <ul class="nav navbar-nav custom">
            <!-- <li style="font-family: 'lato'; font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 0.986;
  margin-top:20px
">Hello Student</li> -->

            <li style="
  font-size: 48px;
  color: rgb(255, 255, 255);
  line-height: 0.493;
"><a style="padding: 2px 5px;" href="#" ><i class="fa fa-user"></i></a>
</li>
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
