<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="https://rawgithub.com/highslide-software/draggable-points/master/draggable-points.js"></script>

<h1 style="font-family: roboto-thin; color:black; font-size:60px">DRAGGABLE LOCATION CONFIGURATION</h1>
<hr>
<div id="location_container" data-location= <%= @seats_info %> style="height: 400px"></div>
<div id="drag"></div>
<div id="drop"></div>
