<h1 class="text-center" style="font-size: 30px; font-family: 'Roboto'; color:white"> Current Sensor System Demo </h1> 
<% if @status = 'ON' %> 
	<p class="text-center" style="font-size: 25px; font-family: 'Roboto';  sans-serif; font-weight: 100; color:white">
		Device is: <em id="status-field" style="padding-left:10px; font-size: 40px; font-family: 'Roboto';  sans-serif; font-weight: 500; font-style: normal; color:green">ON</em>
	</p>
<% else %>
	<p class="text-center" style="font-size: 25px; font-family: 'Roboto';  sans-serif; font-weight: 100; color:white">
		Device is: <em id="status-field" style="padding-left:10px; font-size: 40px; font-family: 'Roboto';  sans-serif; font-weight: 500; font-style: normal; color:red">OFF</em>
	</p>
<% end %>