<div class="outer">
<div class="middle">
<div class="inner">

 <div class="login-frame" style="
  border-radius: 5px; background-color:white;

  width: 259px;
  height: 349px;
  margin: 0 auto;


">
<h2 style="
  font-size: 48px;
  font-family: 'Blanka';
  color: rgb(52, 152, 219);
  line-height: 0.493;
  text-align: center;
  padding-top:30px;
  margin-top:0px;
">SSMS</h2>



<h2 class=" text-center fa fa-university" style="color: rgb(52, 152, 219); font-size: 48px;
  line-height: 0.493;
  display: inline-block;
width: 100%;
margin: 30px 0;
"></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, :class => 'login-email-field'%>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", :class => 'login-email-field'  %>
  </div>


  <div class="actions">
    <%= f.submit "LOG IN", :class => 'login-email-field', :style =>"background-color: rgb(52, 152, 219); color:white;"%>
  </div>
<% end %>

      
    </div>

</div>
</div>
</div>










<%#= render "devise/shared/links" %>
