
@font-face {
font-family: 'blanka_regular';
src: asset-url("Blanka-Regular.otf") format("opentype");
}

@font-face {
font-family: 'focus_regular';
src: asset-url("Focus-Regular.ttf") format("truetype");
}

@font-face {
font-family: 'roboto_regular';
src: asset-url("Roboto-Regular.ttf") format("truetype");
}

@font-face {
font-family: 'roboto_thin';
src: asset-url("Roboto-Regular.ttf") format("truetype");
}

