@font-face {
  font-family: 'blanka_regular';
  src: font-url("Blanka-Regular.otf");
  src: font-url("Blanka-Regular.eot?#iefix") format("embedded-opentype"), font-url("Blanka-Regular.svg#icomoon") format("svg"), font-url("Blanka-Regular.woff") format("woff"), font-url("Blanka-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'focus_regular';
  src: font-url("Focus-Regular.otf");
  src: font-url("Focus-Regular.eot?#iefix") format("embedded-opentype"), font-url("Focus-Regular.svg#icomoon") format("svg"), font-url("Focus-Regular.woff") format("woff"), font-url("Focus-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'roboto_regular';
  src: font-url("Roboto-Regular.otf");
  src: font-url("Roboto-Regular.eot?#iefix") format("embedded-opentype"), font-url("Roboto-Regular.svg#icomoon") format("svg"), font-url("Roboto-Regular.woff") format("woff"), font-url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'roboto_thin';
  src: font-url("Roboto-Thin.otf");
  src: font-url("Roboto-Thin.eot?#iefix") format("embedded-opentype"), font-url("Roboto-Thin.svg#icomoon") format("svg"), font-url("Roboto-Thin.woff") format("woff"), font-url("Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

