// Place all the styles related to the Libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tile {
	width: 229px; 
	height: 230px; 
	margin-bottom:100px; 
	background-image: image-url('tile.png');
	margin-bottom:100px;
}

.new-tile {
	width: 229px; 
	height: 230px; 
	margin-bottom:100px; 
	background-image: image-url('new_tile.png');
	margin-bottom:100px;
}



.dc-jumbotron {
	background: asset-url("dc_jumbotron.png") no-repeat center center fixed; 
	height: 600px;
	width:100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top:200px;
}

.library-info-section {
	padding: 100px 0;
}

.dc-big-pic-text {
  background-image: asset-url("dc_library_text.png");
	width:384px;
	height: 124px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.library-map-section3d {
  padding: 100px 0;
  /*background: #ede0e0;*/
  /*background: #e6d6d6;*/
  background:black;

/*e6d6d6
*/  /*2D3E50*/
}

.library-map-section {
	padding: 100px 0;
	background: #2980B9;
  /*2D3E50*/
}

.library-map-section1 {
  padding: 80px 0;
  background: white;
}

.library-map-section2 {
  padding: 100px 0;
  background: #2D3E50;
  /*2D3E50*/
}

.discussion-section {
   padding: 80px 20px;
  background-image: asset-url('discussion-background.jpg');
  background-repeat: no-repeat;
  background-position:left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-attachment: fixed;
  // height: 1200px;

    width:100%;
    // height:auto;
   // @media (min-width: 0px) and (max-width: 992px) {background-attachment: scroll; height:500px; background-repeat: repeat-y}
  @media only screen and (max-width : 992px) {
background-attachment: scroll; height:1200px; background-repeat: repeat-y
    }
}

.library-map-sectionfloor {
  padding: 80px 0;
  background: black;
}



.image-center {
	display: block;
	margin: 0 auto;
}

.bottom-section {
	padding: 80px 0;
	background: #000000;
}

.login-email-field {
border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
  border-radius: 5px;
  
  background-color: rgb(189, 195, 199);
  width: 198px;
  height: 42px;



  font-size: 24px;
  font-family: "lato";
  color: rgb(0, 0, 0);
  line-height: 0.986;
  text-align: center;

line-height: 1.933;
margin-bottom: 20px;
margin-left:30px;
	
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 259px;
}


input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    /*width: 300px;*/
}
input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #5BC0DE;
    margin-top: -23px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #5BC0DE;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #5BC0DE;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}