// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
  background:#2D3E50;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
	
.ssms-shadow {
  background-image: asset-url("ssms-logo.png");
  /*opacity: 0.502;*/
  width:105px;
  height:41px;
}
.ssms-big-pic {
	background: asset-url("jumbotron-pic.png") no-repeat center center fixed; 
	height: 600px;
	width:100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top:200px;
}
/*.jumbotron {
background-image: asset-url("jumbotron-pic.png");
background-size: cover;}*/
.ssms-big-pic-text {
/*  font-size: 60px;
  font-family: "Blanka";
  color: rgb(255, 255, 255);
  line-height: 0.394;
  text-align: center;
  text-shadow: 2.5px 4.33px 0px rgba(0, 0, 0, 0.004);*/
  background-image: asset-url("jumbotron-text.png");
	width:667px;
	height: 195px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.monitor {
	background-image: asset-url("Monitor.png");
	width:160px;
	height: 144px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}


.phone {
	background-image: asset-url("Phone.png");
	width:125px;
	height: 161px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart {
	background-image: asset-url("Chart.png");
	width:160px;
	height: 161px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.features-section {
  padding: 80px 0;
  background: #2D3E50;
}

.webapp-section {
	padding: 80px 0;
	background: #2980b9;
}

.btn-group-lg>.btn, .btn-lg {
padding: 10px 16px;
font-size: 72px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
line-height: 1.3333333;
border-radius: 20px;
background-color: rgb(119, 167, 251);
/*box-shadow: 2.5px 4.33px 0px 0px rgba(44, 62, 80, 0.004);*/
box-shadow: 0px 6px 0px 0px rgba(44,62,80,1);
}

.iphone {
	background-image: asset-url("iPhone.png");
	width:266px;
	height: 548px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-section {
	padding: 80px 0;
	background: black;
}

.teammember {
  border-radius: 4px;
  background-color: rgb(52, 73, 94);
  opacity: 0.8;
  
  width: 238px;
  height: 315px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.head-icon {
		background-image: asset-url("head-icon.png");
	width:137px;
	height: 137px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-section {
	padding: 80px 0;
}

.name-field {
  border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
  border-radius: 5px;
  background-color: rgb(189, 195, 199);
  width: 427px;
  height: 71px;

  font-size: 30px;
  font-family: "Roboto";
  color: rgb(41, 128, 185);
  line-height: 1.933;
  margin-bottom:40px;

}

.email-field {
	border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
  border-radius: 5px;
  background-color: rgb(189, 195, 199);
  width: 427px;
  height: 71px;

  font-size: 30px;
  font-family: "Roboto";
  color: rgb(41, 128, 185);
  line-height: 1.933;
}
.message-field {
	border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
  border-radius: 5px;
  background-color: rgb(189, 195, 199);
  width: 494px;
  height: 183px;

  font-size: 30px;
  font-family: "Roboto";
  color: rgb(41, 128, 185);
  line-height: 1.933;
}

.submit-btn {
	margin-top:70px;
  border-radius: 20px;
  background-color: rgb(52, 152, 219);
 /* box-shadow: 2.5px 4.33px 0px 0px rgba(52, 73, 94, 0.004);*/
  width: 212px;
  height: 68px;
  border: none ! important;
    /*box-shadow: none ! important;*/
    box-shadow: 0px 5px 0px 0px rgba(52,73,94,1);
    outline: none ! important;
  font-size: 48px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 0.493;
  text-align: center;

}

.footer  {
	padding: 50px 10px 10px 0;
}








